---
layout: default
---
:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

%section.hero.primary-bg
  .text-center
    %h1
      MIKE
      %span &
      DAN&nbsp;
    %h2
      Fast Fixes to Full Features
    %a{href:"#contact", class: 'btn cta-btn', style: 'margin-top:25px;'}
      Get Started
      %i.fa.fa-chevron-down
%section.container
  %h2.text-center Experienced Business Design and Development
  .row
    .col-sm-4
      .content-box
        .icon
          %span.fa-stack.fa-2x
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-paint-brush.fa-stack-1x.fa-inverse
        %h4.text-center
          Design
        %p
          Succesful software starts with good design. Usually a project
          begins with a <span>WIREFRAME</span> so that you don't waste time or
          money on unpredictable development. We’ll work alongside you to get from
          <span>IDEA</span> to <span>MOCKUP</span>, so that the end result is
          a meaningful extension of your business.
    .col-sm-4
      .content-box
        .icon
          %span.fa-stack.fa-2x
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-code.fa-stack-1x.fa-inverse
        %h4.text-center
          Develop
        %p
          Our approach includes rapid prototyping with <span>HTML5</span>,
          <span>CSS3</span>, and <span>JAVASCRIPT</span>. Our focus is to
          provide a process that is <span>TRANSPARENT</span> and
          <span>EXTENSIBLE</span>. From MVP to
          full-featured, we’ll make sure your business can grow into the future,
          and even be ready for future developers.
    .col-sm-4
      .content-box
        .icon
          %span.fa-stack.fa-2x
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-line-chart.fa-stack-1x.fa-inverse
        %h4.text-center
          Optimize
        %p
          A website is more than just content, it’s the future for
          <span>ENGAGING</span> your customers. Let us help
          you identify how to make the most of your business through
          <span>A/B TESTING</span>, <span>LEAD GENERATION</span>,
          and <span>CRM AUTOMATION</span>. We'll help you stay focused on
          building your business, not lengthy software projects.
#contact.primary-bg
  .container{style: 'margin-top:50px'}
    .row
      .col-md-6.col-md-offset-3
        .pre-well
          %h2
            Let's work together...
          %h5
            You can email us directly or fill out the form to request a project
            quote.
        {% if site.serving %}
          {% assign form_action = site.local_mailbox %}
        {% else %}
          {% assign form_action = site.prod_mailbox %}
        {% endif %}
        %form#contact-form{action: "//formspree.io/{{form_action}}", method: "POST"}
          .well
            %h4 Your Contact Info
            .row
              .col-sm-6
                .form-group
                  %label.control-label Name
                  %input.form-control{name: "name", type: "text"}
              .col-sm-6
                .form-group
                  %label.control-label Email
                  %input.form-control{name: "_replyto", type: "email"}
            .row
              .col-sm-6
                .form-group
                  %label.control-label Phone
                  %input.form-control{name: "phone", type: "tel"}
              .col-sm-6
                .form-group
                  %label.control-label Company
                  %input.form-control{name: "business", type: "text"}
          .well
            %h4 Project Request
            .row
              .col-xs-12
                %label What types of services are you looking for? Check all that apply
                .form-group{id: "projectType"}
                  .row
                    .col-sm-6
                      .checkbox
                        %label
                          %input{type: "checkbox", name: "project_type[]", value: "Web Design"}
                            Web Design / Redesign
                      .checkbox
                        %label
                          %input{type: "checkbox", name: "project_type[]", value: "Web Development"}
                            Web Development / Coding
                      .checkbox
                        %label
                          %input{type: "checkbox", name: "project_type[]", value: "Marketing"}
                            Marketing / SEO
                      .checkbox
                        %label
                          %input{type: "checkbox", name: "project_type[]", value: "Email Automation"}
                            Email Automation
                    .col-sm-6
                      .checkbox
                        %label
                          %input{type: "checkbox", name: "project_type[]", value: "CRM Implementation"}
                            CRM Implementation
                      .checkbox
                        %label
                          %input{type: "checkbox", name: "project_type[]", value: "eCommerce"}
                            eCommerce
                      .checkbox
                        %label
                          %input{type: "checkbox", name: "project_type[]", value: "Search Results"}
                            Search Result / Filters
                      .checkbox
                        %label
                          %input{type: "checkbox", name: "project_type[]", value: "Client Management"}
                            Client Management
            .row
              .col-sm-6
                .form-group
                  %label Project Budget
                  %select.form-control{name: "project_budget"}
                    %option Under $2,000
                    %option{selected: "selected"} $2,000 - $5,000
                    %option $5,000 - $10,000
                    %option $10,000 - $15,000
                    %option $15,000 - $30,000
                    %option Enterprise
              .col-sm-6
                .form-group
                  %label Project Timeline
                  %select.form-control{name: "project_timeline"}
                    %option As soon as possible
                    %option{selected: "selected"} Within a month
                    %option Within 1 to 2 quarters
                    %option Undetermined
            .form-group
              %label.control-label Project Details <a href="#" data-toggle="tooltip" data-placement="right" title="Tell us a few sentences about yourself, your company, and what you all are trying to accomplish. If you can, please also include any relevant information about your current technology, or any other factors that might impact the project.">What to include?</a>
              %textarea.form-control{name: "project_details", rows: "3"}
            %input.btn.btn-success.btn-lg{type: "submit", value: "Submit Request"}
