---
layout: default
---
.hero
  .col-xs-12.xy-center.text-center
    .stroke-text
      %h1 Mike & Dan&nbsp;
    %h2 Fast Fixes to Full Features
    %a.btn-ghost{href: "#"} LEARN MORE
.dark-bg
  .container
    .row
      .col-md-10.col-md-offset-1.text-center
        %h2
          How Can We Help?
        %h3
          Mike & Dan is a tag-team knockout for your business. From front-end to
          back, we'll find a way to make your business better, faster, and
          happier. Here are some of the services we commonly offer:

    %hr
    .row
      .col-md-offset-2.col-xs-12
        %h2
          Website and Mobile Launch
    .row
      .col-md-2.col-md-offset-2
        %img{:src => "/assets/rocketship.png", class: 'img-responsive'}/
      .col-md-5
        %h3
          We like to build <u>responsive</u>, <u>fast</u>, and <u>accessible</u>
          websites that are an extension of you and your business. And we like
          to turn those websites into mobile apps! That way you and your
          customers can connect anywhere and everywhere.
    %hr
    %h2.text-center
      Laser-Focused Optimizations
    .row
      .col-md-5.col-md-offset-2
        %h3
          Good software is about knowing what to do. We only start work on a
          project after we've worked with you to identify <u>exactly<u>
          where we can provide value. That way you can grow your business
          <u>without</u> the cost of constant development.
      .col-md-2
        %img{src: "/assets/magnifyglass.png", class: 'img-responsive'}/

    %hr
    .row
      .col-md-offset-2.col-xs-12
        %h2
          Automated Business Services
    .row
      .col-md-2.col-md-offset-2
        %img{src: "/assets/conveyor.png", class: 'img-responsive'}/
      .col-md-5
        %h3
          Beyond getting your business online, we aim to get your <i>business
          processes</i> online. Using cloud-powered automation tools we can
          get your logistics organized and digitized, leaving you free to focus
          on your customer's experience.
    %hr
      .row
        .col-md-6.col-md-offset-3
          %h4
            And more! Each situation is unique, and we like to recommend the
            best tool for the job, even if that means another firm or service.
            So contact us today to setup a 15-minute consultation session:
          %form#contactform.form-horizontal{:method => "POST"}
            .form-group
              %label.col-sm-2.control-label Name:
              .col-sm-10
                %input.form-control{:name => "name", :type => "text"}
            .form-group
              %label.col-sm-2.control-label Email:
              .col-sm-10
                %input.form-control{:name => "_replyto", :type => "email"}
            .form-group
              %label.col-sm-2.control-label Business:
              .col-sm-10
                %input.form-control{:name => "business", :type => "email"}
            .form-group
              %label Tell us some background information on the problem(s) you're looking to solve:
              %textarea.form-control{:name => "notes", :rows => "3"}
            %input{:name => "_gotcha", :style => "display:none", :type => "text"}/
            %input.btn.btn-success.btn-lg{:type => "submit", :value => "Submit"}
          :javascript
            var contactform =  document.getElementById('contactform');
            contactform.setAttribute('action', '//formspree.io/' + 'info' + '@' + 'getmikeanddan' + '.' + 'com');
    %hr
