@import url(https://fonts.googleapis.com/css?family=Noto+Sans:500,400);
.hero {
	font-family: 'Noto Sans', sans-serif;
}

.full-screen {
	position: relative;
	height: 500px;
	width: 100%;
	text-align: center;
}

.primary-bg {
  background: url('/assets/tile-bg-2.png') repeat;
}

.hero {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
  text-align: center;
  h1 {
    color: #F5F5F5;
    font-size: 100px;
    margin-top: 0;
    padding-top: 80px;
    span {
      vertical-align: middle;
      font-size: 30px;
    }
  }
  h2 {
    color: #F5F5F5;
    font-size: 50px;
  }
}
.pre-well {
  margin-top: 50px;
  color: #F5F5F5;
}

#contactform .well {
  border-color: orange;
  border-width: 1px;
  background: white;
}

.cta-btn {
  font-size: 28px;
  text-transform: uppercase;
  background: #F5A623;
  color: #F5F5F5;
  &:hover, &:focus {
    color: white;
    font-weight: bold;
    border-color: orange;
  }
}

.content-box {
  margin-top: 35px;
  padding: 30px 8px 8px;
  border: 1px solid #ccc;
  position: relative;
  span {
    color: orange;
    font-weight: bold;
  }
  .icon {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -25px;
    .fa-circle {
      color: orange;
    }
  }
}

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


hr {
  margin-top: 50px;
  margin-bottom: 50px;
}