@import url(https://fonts.googleapis.com/css?family=Noto+Sans:500,400);
strong {
  color: #F5A623; }

.hero {
  font-family: 'Noto Sans', sans-serif; }

.full-screen {
  position: relative;
  height: 500px;
  width: 100%;
  text-align: center; }

.primary-bg {
  background: #81BBFF;
  background-image: url("/assets/bg-subtle.jpg"); }

.hero {
  position: relative;
  width: 100%;
  height: 375px;
  margin-bottom: 50px; }
  .hero h1 {
    color: #F5F5F5;
    font-size: 48px;
    text-align: center;
    padding-top: 75px; }

.pre-well {
  margin-top: 50px;
  color: #F5F5F5; }

#contactform .well {
  border-color: orange;
  border-width: 1px;
  background: white; }

.cta-btn {
  font-size: 28px;
  text-transform: uppercase;
  background: #F5A623;
  color: #F5F5F5; }
  .cta-btn:hover, .cta-btn:focus {
    color: white;
    font-weight: bold;
    border-color: orange; }

.content-box {
  margin-top: 35px;
  padding: 30px 8px 8px;
  border: 1px solid #ccc;
  position: relative; }
  .content-box .icon {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -25px; }
    .content-box .icon .fa-circle {
      color: orange; }

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

hr {
  margin-top: 50px;
  margin-bottom: 50px; }
